[Desktop Entry]
Name=wifisoftap
Name[ru_RU]=wifisoftap
Comment=WiFi Soft AP
Exec=wifisoftap
Icon=wifisoftap.png
Type=Application
Categories=Network;QT;
StartupNotify=true
X-Ayatana-Desktop-Shortcuts=New

